<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/index">Logo</a>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/index">Home </a>
            </li>
            <li>
                <a routerLink="">About Us</a>
            </li>
            <li>
                <a routerLink="">Product</a>
            </li>
            <li>
                <a routerLink="">Contact</a>
            </li>
        </ul>
    </div>
</mat-toolbar>