<mat-nav-list>
    <a mat-list-item routerLink="/index" (click)=onSidenavClose()>
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="" (click)=onSidenavClose()>
        <mat-icon>about</mat-icon><span class="nav-caption">About Us</span>
    </a>
    <a mat-list-item routerLink="" (click)=onSidenavClose()>
        <mat-icon>product</mat-icon><span class="nav-caption">Product</span>
    </a>
    <a mat-list-item routerLink="" (click)=onSidenavClose()>
        <mat-icon>contact</mat-icon><span class="nav-caption">Contact</span>
    </a>
</mat-nav-list>